Repository picguard/websites: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc:

{
  "*.{css,js,json,jsx,ts,tsx}": "prettier --write",
  "package.json": "sort-package-json"
}

fix: update github-release
  components/home/github-release.tsx
  constants/index.ts
  types/common.d.ts
Due: prettier --write

fix: add msi support
  constants/index.ts
Due: prettier --write

fix: update basePath
  constants/index.ts
  next.config.js
Due: prettier --write

fix: update links
  components/layout/header.tsx
  constants/index.ts
Due: prettier --write

fix: update links
  README.md
  content/en/legal/privacy.mdx
  content/en/legal/terms-of-use.mdx
  content/zh/legal/privacy.mdx
  content/zh/legal/terms-of-use.mdx
Due: none

fix: update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

fix: switch to contentlayer2
  components/mdx/mdx.tsx
  contentlayer.config.js
  next.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

fix: update deps
  package.json
  pnpm-lock.yaml
  renovate.json
Due: prettier --write, sort-package-json

docs: update readme
  README.md
Due: none

docs: update introduce
  content/en/blog/introduce.mdx
  content/zh/blog/introduce.mdx
Due: none

fix: update introduce
  content/en/blog/introduce.mdx
  content/zh/blog/introduce.mdx
Due: none

docs: add insider.mdx
  content/en/blog/insider.mdx
  content/zh/blog/insider.mdx
Due: none

fix: update insider.mdx
  content/en/blog/insider.mdx
  content/zh/blog/insider.mdx
Due: none

chore: update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

docs: update insider
  content/en/blog/insider.mdx
  content/zh/blog/insider.mdx
Due: none

fix: update link
  components/home/store-links.tsx
Due: prettier --write

feat: add redirects
  next.config.js
Due: prettier --write

fix: update redirects
  next.config.js
Due: prettier --write

chore(deps): update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

fix(deps): update framer-motion to ^11.3.31
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

fix: update links
  components/home/store-links.tsx
Due: prettier --write

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

feat: add support page
  app/[lng]/support/page.tsx
  i18n/locales/en/support.json
  i18n/locales/zh/support.json
  next.config.js
Due: prettier --write

refactor: update home page
  app/[lng]/download/page.tsx
  app/[lng]/page.tsx
  components/home/card.tsx
  components/layout/footer.tsx
  i18n/locales/en/common.json
  i18n/locales/en/home.json
  i18n/locales/zh/common.json
  i18n/locales/zh/home.json
Due: prettier --write

fix: update locales
  components/layout/header.tsx
  i18n/locales/en/header.json
  i18n/locales/zh/header.json
  i18n/locales/zh/home.json
Due: prettier --write

refactor: update home page
  app/[lng]/page.tsx
  i18n/locales/en/common.json
  i18n/locales/zh/common.json
Due: prettier --write

feat: add comments
  app/[lng]/page.tsx
  components/home/comment.tsx
  i18n/locales/en/comments.json
  i18n/locales/en/common.json
  i18n/locales/zh/comments.json
  i18n/locales/zh/common.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

fix: update gradientColor
  README.md
  app/[lng]/page.tsx
Due: prettier --write

refactor: update download page
  app/[lng]/download/page.tsx
  components/download/binaries-card.tsx
  components/download/pkg-card.tsx
  components/download/store-card.tsx
  constants/index.ts
  i18n/locales/en/download.json
  i18n/locales/zh/download.json
  next.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

fix: update binaries-card
  app/[lng]/download/page.tsx
  components/download/binaries-card.tsx
Due: prettier --write

fix: update download cards
  components/download/binaries-card.tsx
  components/download/pkg-card.tsx
  components/download/store-card.tsx
Due: prettier --write
