Repository picguard/websites: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

fix: add images
  components/download/store-card.tsx
  public/images/Download-on-the-Amazon-App-Store.png
  public/images/Download-on-the-App-Store.svg
  public/images/Download-on-the-F-Droid.svg
  public/images/Download-on-the-Google-Play.png
  public/images/Download-on-the-Mac-App-Store.svg
  public/images/Download-on-the-Snap-Store.svg
Due: prettier --write

chore(deps): update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

fix: update download page
  app/[lng]/download/page.tsx
  constants/index.ts
  types/common.d.ts
Due: prettier --write

fix: update insider
  content/en/blog/insider.mdx
  content/zh/blog/insider.mdx
Due: none

fix: lazy loading images
  app/[lng]/page.tsx
  components/download/store-card.tsx
  components/layout/header.tsx
Due: prettier --write

refactor: update pages
  app/[lng]/download/page.tsx
  components/home/release.tsx
  lib/utils.ts
Due: prettier --write

feat: add F-Droid link
  components/download/store-card.tsx
Due: prettier --write

fix: update footer
  components/layout/footer.tsx
Due: prettier --write

fix: replace with `@next/third-parties`
  app/[lng]/layout.tsx
  components/shared/google-analytics.tsx
  package.json
  pnpm-lock.yaml
  renovate.json
Due: prettier --write, sort-package-json

fix: update cookie-yes
  app/[lng]/layout.tsx
  components/shared/cookie-banner.tsx
  components/shared/cookie-yes.tsx
Due: prettier --write

fix: update support email
  app/[lng]/support/page.tsx
Due: prettier --write

feat: add translations
  content/it/blog/insider.mdx
  content/it/blog/introduce.mdx
  content/it/legal/privacy.mdx
  content/it/legal/terms-of-use.mdx
  i18n/locales/it/comments.json
  i18n/locales/it/common.json
  i18n/locales/it/download.json
  i18n/locales/it/footer.json
  i18n/locales/it/header.json
  i18n/locales/it/home.json
  i18n/locales/it/support.json
  i18n/locales/zh/header.json
  i18n/settings.ts
Due: prettier --write

fix: update renovate.json
  renovate.json
Due: prettier --write

fix: update constants
  constants/index.ts
Due: prettier --write

chore(deps): update deps
  components/shared/modal.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

fix: detect device os
  app/[lng]/download/page.tsx
Due: prettier --write

Delete renovate.json
  renovate.json
Due: prettier --write

Create dependabot.yml
  .github/dependabot.yml
Due: none

fix: update icons
  app/[lng]/support/page.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

fix: update logo path
  app/[lng]/[type]/page.tsx
  app/[lng]/layout.tsx
  app/[lng]/opengraph-image.tsx
  app/[lng]/page.tsx
  components/layout/header.tsx
Due: prettier --write

ci: update dependabot.yml
  .github/dependabot.yml
Due: none

Path conditions:
  prettier --write: any of: *.{css,js,json,jsx,ts,tsx}
  sort-package-json: any of: package.json
