Repository picguard/websites: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

fix: update store links
  components/download/store-card.tsx
Due: prettier --write

chore(deps): update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

fix: update store-card
  components/download/store-card.tsx
Due: prettier --write

fix: update download page
  components/download/binaries-card.tsx
  components/download/pkg-card.tsx
  components/download/store-card.tsx
Due: prettier --write

fix: update pkg-card.tsx
  components/download/pkg-card.tsx
Due: prettier --write

fix: update sitemap.xml
  constants/index.ts
Due: prettier --write

fix: add amazon links
  components/download/store-card.tsx
Due: prettier --write

fix: add universal links
  middleware.ts
  public/.well-known/apple-app-site-association
  public/.well-known/assetlinks.json
Due: prettier --write

fix: add menus
  app/[lng]/[type]/page.tsx
  components/layout/header.tsx
  i18n/locales/en/header.json
  i18n/locales/zh/header.json
Due: prettier --write

fix: update logo
  app/[lng]/favicon.ico
  public/logo.png
Due: none

docs: update blog
  content/en/blog/introduce.mdx
  content/zh/blog/introduce.mdx
Due: none

fix: updated snap store badge
  components/download/store-card.tsx
Due: prettier --write

fix: update speed
  app/[lng]/page.tsx
Due: prettier --write

fix: update renovate.json
  renovate.json
Due: prettier --write

chore(deps): update deps
  package.json
  pnpm-lock.yaml
  renovate.json
Due: prettier --write, sort-package-json

fix: update download page
  components/download/pkg-card.tsx
Due: prettier --write

fix: replace lucide-react with react-icons
  components/layout/header.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

fix: update home page
  app/[lng]/layout.tsx
  app/[lng]/page.tsx
  app/[lng]/support/page.tsx
Due: prettier --write

fix: update file conventions
  app/[lng]/error.tsx
  app/[lng]/not-found.tsx
  app/[lng]/opengraph-image.tsx
  app/global-error.tsx
  app/layout.tsx
Due: prettier --write

fix: update links
  app/[lng]/page.tsx
  app/[lng]/support/page.tsx
  components/layout/header.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{css,js,json,jsx,ts,tsx}
  sort-package-json: any of: package.json
